/* primary color : #9bdc28 */
header {
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  align-items: center;
}
.logo h1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #9bdc28;
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  text-transform: capitalize;
  margin: 0 20px;
}
header nav ul li a:hover {
  color: #9bdc28;
}
header nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  margin: 10px 0 0 0;
  background: #9bdc28;
  transition: 0.2s linear;
}
header nav ul li a:hover::after {
  width: 100%;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account {
  margin-right: 20px;
  color: #fff;
}
.cart {
  position: relative;
}
.cart a {
  color: #fff;
}
.cart span {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 12px;
  background: #9bdc28;
  padding: 0 5px;
  z-index: -1;
  border-radius: 50%;
  color: white;
}
header .menu,
header .close {
  display: none;
  cursor: pointer;
  color: #9bdc28;
}
.service {
  display: none;
}
/* RESPONSIVE */
@media (max-width: 650px) {
  header nav ul {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 88;
    width: 100%;
    min-height: 100vh;
    background: #19232c;
    transition: 0.5s;
  }
  header nav ul li a {
    transition: 0.5s;
    color: gray;
  }
  header nav ul li a:hover::after {
    width: 0;
  }

  header nav ul li {
    width: 100%;
    transition: 0.3s;
  }
  header nav ul li:hover {
    background: #151d24;
  }
  header nav ul li:hover .abc {
    color: #fff;
  }
  header .menu,
  header .close {
    display: block;
  }
  header .close {
    z-index: 88;
    position: relative;
    top: 0;
    left: 20px;
  }
  header ul.toggle {
    left: 0;
  }
  .account {
    display: none;
  }
  .logo {
    position: relative;
    right: -40px;
  }
  .service {
    display: inline-block;
    font-size: 20px;
    flex: 1;
    text-align: center;
    cursor: pointer;
  }
  .service a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }
  .header-toggle {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .header-toggle:hover {
    background: none;
  }
}
