#product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cart_product {
  position: relative;
  min-width: 320px;
  min-height: 450px;
  overflow: hidden;
  margin: 10px;
  border-radius: 20px;
  background: #151d24;

}
.cart_product::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  transition: 0.5s ease-in-out;
  clip-path: circle(150px at 30% 15%);
}
.cart_product:hover::before{
  clip-path: circle(300px at 15% -20%);
}
.cart_product::after{
  content: "Nike";
  position: absolute;
  top: 40%;
  left: -10%;
  font-style: italic;
  font-weight: 800;
  color: rgba(255,255,255,0.04);
  font-size: 160px;

}
.cart_product img {
  position: absolute;
  top: 20%;
  object-fit: contain;
  width: 100%;
  height: 220px;
  transform: translateY(-10%) rotate(25deg);
  transition:  0.5s;
}
.cart_product:hover .img{
  top: 5%;
  transform: translateY(0%) rotate(25deg);
}
.cart_product img{
  position: absolute;
  transform:  rotate(25deg);
}
.content{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.6s;
  z-index: 10;
}
.cart_product:hover .content{
  height: 210px;
}
.content h2{
  margin: 10px 0;
}
.content h2 a{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color:#fff;
}
.content span{
  color: #fff;
}
.colors{
  margin: 20px 0;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.cart_product:hover .colors{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}
.color{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: none;
}
.content button{
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}
.cart_product:hover btn{
  transition-delay: 1s;
  opacity: 0.2;
  transform: translateY(10px);
}